<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
    <!--<property name="CONSOLE_LOG_PATTERN"-->
              <!--value="%(${LOG_LEVEL_PATTERN:-%5p})"/>-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/mnt/app/logs/integrate/integrate.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每小时滚动文件 -->
            <fileNamePattern>/mnt/app/logs/integrate/integrate.%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%date %(${LOG_LEVEL_PATTERN:-%8p}) [%thread][%X{userOid}] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONS" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>%date %(${LOG_LEVEL_PATTERN:-%8p}) [%thread][%X{userOid}] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="javax.activation" level="ERROR"/>
    <logger name="javax.mail" level="ERROR"/>
    <logger name="javax.xml.bind" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="com.codahale.metrics" level="ERROR"/>
    <logger name="com.ryantenney" level="ERROR"/>
    <logger name="com.sun.xml.internal.bind" level="ERROR"/>
    <logger name="com.zaxxer" level="ERROR"/>
    <logger name="io.undertow" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="ERROR"/>
    <logger name="org.hibernate.validator" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.springframework.security" level="ERROR"/>
    <logger name="org.springframework.cache" level="ERROR"/>
    <logger name="org.thymeleaf" level="ERROR"/>
    <logger name="org.xnio" level="ERROR"/>
    <logger name="springfox" level="ERROR"/>
    <logger name="sun.rmi" level="ERROR"/>
    <logger name="liquibase" level="ERROR"/>
    <logger name="sun.rmi.transport" level="ERROR"/>
    <logger name="com.aliyun.openservices" level="WARN"/>
    <logger name="com.baomidou.mybatisplus" level="WARN"/>
    <logger name="org.mybatis.spring" level="WARN"/>
    <logger name="cons" level="debug">
        <appender-ref ref="CONS"/>
    </logger>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>


</configuration>
